.outer-container {
    display: flexbox;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    width: 1200px; /* Utilizar el 100% del ancho disponible */
    padding-top: 10%;/* Eliminar el padding */

  }
  
  .container {
    margin: 20px 40px; /* Ajustar el margen */
    padding-top: 30px; /* Ajustar el espacio superior */
    padding-bottom: 30px; /* Ajustar el espacio inferior */
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f0f0f0;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 48%;
  }

  .left-container {
    order: 1; /* Cambia el orden del primer contenedor */
  }
  
  .right-container {
    order: 2; /* Cambia el orden del segundo contenedor */
    overflow: hidden;
  }
  
  
  .preview img {
    max-width: 100%;
    height: auto;
    border: 2px solid #000000;
    border-radius: 5px;
  }
  
  .upload {
    margin-top: 20px;
  }
  
  .custom-file-upload {
    display: inline-block;
    border: 2px solid #4CAF50;
    color: #4CAF50;
    background-color: #f9f9f9;
    padding: 6px 12px;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .custom-file-upload:hover {
    background-color: #e9e9e9;
  }
  
  .options {
    margin-top: 20px;
  }
  
  .option {
    display: inline-block;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: #fff;
    border-radius: 5px;
    margin-right: 10px;
    cursor: pointer;
    font-size: 18px;
    width: 100px;
  }
  
  .option:hover {
    background-color: #388E3C;
  }

  .apply-button {
    margin-top: 20px; 
    padding: 15px 30px;
    background-color: #4CAF50; 
    color: #fff; 
    border: none; 
    border-radius: 5px;
    cursor: pointer; 
    transition: background-color 0.5s ease; 
    font-size: 22px;
  }
  
  .apply-button:hover {
    background-color: #008f07; 
  }
  
  .numeric-input {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    width: 200px;
  }
  
  .numeric-input input {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-top: 5px;
    width: 100px; /* Ajusta el ancho según sea necesario */
  }
  
  .result-image img {
    max-width: 100%; /* Ajusta el ancho máximo de la imagen al contenedor */
    height: auto; /* Permite que la altura se ajuste automáticamente */
    display: block; /* Asegura que la imagen no tenga espacios vacíos debajo de ella */
  }

  .header {
    background-color: #333; /* Cambia el color de fondo según sea necesario */
    color: #fff; /* Cambia el color del texto según sea necesario */
    text-align: center; /* Centra el texto */
    padding: 20px 0; /* Añade un relleno arriba y abajo */
  }
